body {
    background-color: bisque;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(239, 172, 157);
    text-align: center;
    font-size: 36px;
}

.homepage {
    width: 100%;
    color: black;
    font-size: 24px;
    display: inline-flex;
    list-style: none;
}

.homepage li {
    padding: 5px;
    background-color: rgb(239, 172, 157);
    border: 2px solid black;
    margin: 20px;
}

img {
    height: auto;
    width: 400px;
}

